mixin accordion(name, additional, isActive)
  - additional = false || additional
  - isActive = false || isActive
  .accordion-wrapper(
    class= isActive ? 'is-active' : ''
  )
    span.accordion__header.text-filter-links #{ name }
    if additional
      span.accordion__additional.text-breadcrumbs #{ additional }
    .accordion__content
      if block
        block
