.slider-article
  .slider-article-wrapper
    +pic('slider-article-slide', './assets/img/article-slide.jpg')
    +pic('slider-article-slide', './assets/img/article-slide.jpg')
    +pic('slider-article-slide', './assets/img/article-slide.jpg')
    +pic('slider-article-slide', './assets/img/article-slide.jpg')
  .slider-article-pagination
