.slider-banner
  .slider-banner-wrapper
    .slider-banner-slide
      +pic('slider-banner-img', './assets/img/slider-banner-1.jpg')
      +wrapper('slider-banner-slide')
        .slider-banner-slide__info
          h2.slider-banner-slide__name
            | Alison Iroko
            +icon('', 'new')
          .slider-banner-slide__category-wrapper
            p.slider-banner-slide__category-descr.text-links Диваны
            .slider-banner-slide__category-separator
            p.slider-banner-slide__category-descr.text-links Minotti
    .slider-banner-slide
      +pic('slider-banner-img', './assets/img/slider-banner-2.jpg')
      +wrapper('slider-banner-slide')
        .slider-banner-slide__info
          h2.slider-banner-slide__name
            | Caulfield Outdoor
            +icon('', 'new')
          .slider-banner-slide__category-wrapper
            p.slider-banner-slide__category-descr.text-links Кушетка
            .slider-banner-slide__category-separator
            p.slider-banner-slide__category-descr.text-links Minotti
    .slider-banner-slide
      +pic('slider-banner-img', './assets/img/slider-banner-3.jpg')
      +wrapper('slider-banner-slide')
        .slider-banner-slide__info
          h2.slider-banner-slide__name
            | Blake Soft
            +icon('', 'new')
          .slider-banner-slide__category-wrapper
            p.slider-banner-slide__category-descr.text-links Кресла
            .slider-banner-slide__category-separator
            p.slider-banner-slide__category-descr.text-links Minotti
    .slider-banner-slide
      +pic('slider-banner-img', './assets/img/slider-banner-4.jpg')
      +wrapper('slider-banner-slide')
        .slider-banner-slide__info
          h2.slider-banner-slide__name
            | De De Ce Project
            br
            | by Minotti
          .slider-banner-slide__category-wrapper
            p.slider-banner-slide__category-descr.text-links Новости
            .slider-banner-slide__category-separator
            p.slider-banner-slide__category-descr.text-links Minotti
  .slider-banner-pagination
