.h1 {
  color: $black;
  font-family: "HelveticaNeue";
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.132rem;
  line-height: 1;

  @include media-breakpoint-down(sm) {
    font-size: rem(42);
  }
}

.h2 {
  color: $black;
  font-family: "HelveticaNeue";
  font-size: 1.875rem;
  font-weight: 500;
  letter-spacing: -0.026rem;
  line-height: 2rem;
}

.text {
  &-regular {
    color: $gray;
    font-family: "HelveticaNeue";
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: -0.014rem;
    line-height: 1.5rem;
  }

  &-filter {
    color: $gray;
    font-family: "HelveticaNeue";
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.75rem;

    &-links {
      color: $black;
      font-family: "HelveticaNeue";
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: -0.014rem;
    }
  }

  &-links {
    color: $black;
    font-family: "HelveticaNeue";
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: -0.014rem;
    line-height: 1.375rem;
  }

  &-breadcrumbs {
    color: $gray;
    font-family: "HelveticaNeue";
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.75rem;
  }
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.inherit-weight {
  font-weight: inherit;
}

.inherit-size {
  font-size: inherit;
}
