/* Vars:
   ========================================================================== */

// Font
$mainFont: 'Helvetica', sans-serif;
$mainFontColor: #101010;

// Size
$baseSizing: 1rem; // 1rem = 16px
$iconDefault: 4.8rem;
//desktops
$large_desktop: 1440px;
$small_desktop: 1200px;
//tablets
$large_tablet: 992px;
$small_tablet: 768px;
//phones
$large_mobile: 576px;
$small_mobile: 460px;
//core font
$mainFontSize: 1rem; //16px
$mainFontWeight: 400;
$mainLineHeight: 150%; //24x or 1.25rem
$boxHeight: $mainLineHeight;

//bootstrap sizing
$grid-gutter-width: 40px;
$grid-columns: 10;

$grid-breakpoints: (
  xs: 0,
  sm: $large_mobile,
  md: $small_tablet,
  lg: $large_tablet,
  xl: $small_desktop,
  xxl: $large_desktop,
);

$container-max-widths: (
  sm: 540px + $grid-gutter-width,
  md: 720px + $grid-gutter-width,
  lg: 960px + $grid-gutter-width,
  xl: 1170px + $grid-gutter-width,
  xxl: 1320px + $grid-gutter-width,
);

$gutter: $grid-gutter-width / 2;

//colors
$white: #fff;
$black: #000;
$gray: #5d5d5d;

//hamburger
$hamburger-padding-x: 1px !default;
$hamburger-padding-y: 1px !default;
$hamburger-layer-width: 16px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-spacing: 3px !default;
$hamburger-layer-color: $white !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-active-layer-color: $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-types: (collapse);
