@import 'src/scss/utils/vars';
@import 'src/scss/utils/libs';
@import 'src/scss/utils/mixins';
@import 'src/scss/utils/reset';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: rem(10);
  padding: rem(9) 0 rem(10);

  &-primary {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: #1e1e1e;
      color: $white;
    }
  }

  &-secondary {
    background-color: #e2e2e2;
    color: $gray;

    &:hover {
      background-color: #f0f0f0;
      color: $gray;
    }
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
