@import 'src/scss/utils/utils';

.card {
  &__gray {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    padding: rem(20);
    background-color: #959191;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    &-icon {
      @include size(100%);
      max-width: 30px;
      max-height: 30px;
    }

    &-descr {
      font-size: rem(16);
      letter-spacing: rem(-0.22);
      color: $white;
    }

    &_alt {
      padding-bottom: rem(16);
      background-color: #e2e2e2;

      @include media-breakpoint-down(lg) {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
      }

      @include media-breakpoint-down(xs) {
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
      }

      &:hover {
        text-decoration: none;
        background-color: #f0f0f0;

        .card__gray-descr {
          text-decoration: none;
          color: $black;
        }
      }

      .card__gray {
        &-descr {
          color: $black;
          font-weight: 500;
        }

        &-icon {
          @include size(rem(16));
        }
      }
    }
  }
}
