extends ../layout/main

block variables
  - var title = 'Justform';
  - var description = '';
  - var pageClass = 'article-page';

block content
  +header(false, true, false)
  section.article__section
    +wrapper('article')
      .article__grid
        aside.article__aside
          a.text-breadcrumbs(href="#") Все новости
        main.article__main
          .article__main-heading
            h2.h2 ​Уличная коллекция мебели Vela: чистая геометрия и гладкие линии
            p.text-regular.medium Дизайн Ramon Esteve для фабрики Vondom
          .article__main-text
            p.text-regular Мебель для улицы коллекции Vela от Vondom предлагает удобную и тёплую домашнюю атмосферу без потери каких-либо оригинальных качеств. Среди этих семейных укомплектованных стильных дизайнов можно найти новый круглый модульный диван, спроектированный Ramon Esteve с теми же эстетическими свойствами, что и другие продукты в коллекции.
            p.text-regular
              |Модульная структура с дифференцирующими и инновационными элементами, позволяет создавать новые решения для макетов и бесконечных конфигураций.
              |Её круглая форма в разных очертаниях делает её идеальным для создания стильного
              |и комфортного пространства для отдыха, встреч и мероприятий.
          include ../components/slider/sliderArticle
          .article__main-text
            p.text-regular Чистая геометрия придаёт устойчивость конструкции, а угловая рама создаёт лёгкий оттенок, приподнимая с пола и подчёркивая образ гармонии и элегантности.
            p.text-regular
              |Все изделия изготавливаются из полиэтиленового материала с низкой плотностью.
              |Этот материал полностью подлежит вторичной переработке и подходит для экстремальных погодных условий. Система освещения является опциональной
              |в каждом пункте коллекции, что даёт возможность создавать уникальные
              |пространства даже ночью благодаря светодиодной дистанционной системе.
          +pic('article__pic', './assets/img/article-img2.jpg')
          time.article__date.text-filter(datetime="")
            |Сентябрь 28
            br
            |2017
          .article__main-text
            p.text-regular
              |Коллекция Vela предлагает широкий ассортимент столов, стульев, кресел, модульных диванов, табуретов, барных стоек, шезлонгов, плантаторов и светильников.
              |Все эти элементы могут быть объединены вместе, позволяя создавать различные композиции в любом пространстве.
