@import 'src/scss/utils/utils';

.autopismo {
  &-page {
    background-color: #f0f0f0;
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );
  }

  &__row {
    @include make-row();
  }

  &__header {
    @include make-col-ready();
    @include make-col-offset(1);
    @include make-col(7);
    padding-top: rem(50);

    @include media-breakpoint-down(lg) {
      @include make-col-offset(0);
      @include make-col(10);
    }

    @include media-breakpoint-down(sm) {
      padding-top: rem(20);
    }

    &-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
        align-items: center;

        .h2 {
          margin: rem(8) 0;
        }
      }
    }

    &-bot {
      padding-bottom: rem(32);
      border-bottom: 1px solid $black;

      @include media-breakpoint-down(sm) {
        display: flex;
        justify-content: center;
        padding-bottom: rem(16);
      }
    }

    &-logo {
      margin-bottom: 4px;
    }
  }

  &__items {
    @include make-col-ready();
    @include make-col-offset(1);
    @include make-col(7);

    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(5, 1fr);
    gap: rem(40);
    padding-top: rem(34);

    @include media-breakpoint-down(lg) {
      @include make-col-offset(0);
      @include make-col(10);
      gap: rem(15);
    }
  }

  &__price {
    &-inner {
      @include make-col-ready();
      @include make-col-offset(1);
      @include make-col(7);

      @include media-breakpoint-down(lg) {
        @include make-col-offset(0);
        @include make-col(10);
      }
    }

    &-outer {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: rem(40);
      padding: rem(34) 0 rem(36);
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;

      @include media-breakpoint-down(sm) {
        gap: rem(15);
      }
    }

    &-header {
      grid-column-start: 1;
      grid-column-end: 8;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media-breakpoint-down(sm) {
        display: block;
      }

      p {
        color: $gray;
      }
    }

    &-production {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-top: auto;
      margin-bottom: rem(4);

      @include media-breakpoint-down(sm) {
        grid-column-end: 8;
      }
    }

    &-items {
      grid-column-start: 5;
      grid-column-end: 8;

      @include media-breakpoint-down(sm) {
        grid-column-start: 1;
      }
    }

    &-comment {
      grid-column-start: 3;
      grid-column-end: 8;
      margin-top: rem(30);

      @include media-breakpoint-down(sm) {
        grid-column-start: 1;
        margin-top: rem(16);
      }

      &-wrapper {
        grid-column-start: 1;
        grid-column-end: 8;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: rem(40);
        padding-top: rem(33);
        border-top: 1px solid #dfdfdf;

        @include media-breakpoint-down(sm) {
          gap: rem(15);
          border-top: none;
        }
      }

      &-header {
        grid-column-start: 1;
        grid-column-end: 3;
        font-weight: 500;
        color: $black;

        @include media-breakpoint-down(sm) {
          grid-column-end: 8;
        }
      }
    }
  }

  &__footer {
    padding: rem(33) 0 rem(66);

    &-inner {
      @include make-col-ready();
      @include make-col-offset(1);
      @include make-col(7);

      @include media-breakpoint-down(lg) {
        @include make-col-offset(0);
        @include make-col(10);
      }
    }

    &-bot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: rem(33);

      @include media-breakpoint-down(sm) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
    }

    &-block {
      text-align: right;

      @include media-breakpoint-down(sm) {
        margin-bottom: rem(16);
        text-align: left;
      }

      a {
        color: $black;
      }
    }
  }
}
