@import 'src/scss/utils/utils';
@import 'src/views/components/search/search';
@import 'src/views/components/item/itemCart';
@import 'src/views/components/filter/filterSimpleChecboxes';
@import 'src/views/components/buttons/buttons';

.cart {
  &-page {
    background-color: #f0f0f0;
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );
  }

  &__row {
    @include make-row();
    position: relative;
  }

  &__banner {
    padding: rem(200) 0 rem(120);
  }

  &__info {
    @include make-col-ready();
    @include make-col(2);
    padding-top: rem(27);

    @include media-breakpoint-down(lg) {
      @include make-col(10);
    }

    @include media-breakpoint-down(md) {
      padding-top: 0;
    }

    &-wrapper {
      @include make-col-ready();
      @include make-col(10);

      display: flex;
      justify-content: center;
    }

    &-breadcrumbs {
      @include make-col-ready();
      @include make-col(10);

      display: flex;
      justify-content: center;
      margin-top: rem(6);
    }

    &-header {
      &-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(16);
      }
    }

    &-body {
      margin-bottom: rem(20);
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e2e2e2;
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;

    span {
      margin-left: rem(21);
    }
  }

  &__module {
    padding-top: rem(114 - 24);
    padding-bottom: rem(120 - 46);
    background-color: #f8f8f8;

    @include media-breakpoint-down(md) {
      padding-top: rem(20);
      padding-bottom: rem(20);
    }
  }

  &__items {
    @include make-col-ready();
    @include make-col-offset(1);
    @include make-col(7);

    @include media-breakpoint-down(lg) {
      @include make-col-offset(0);
      @include make-col(10);
    }

    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr) repeat(5, 1fr);
      gap: rem(40);
      padding-top: rem(24);
      border-bottom: 1px solid $black;

      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        gap: unset;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &-category {
      &-wrapper {
        grid-column-start: 1;
        grid-column-end: 3;

        @include media-breakpoint-down(md) {
          grid-column-end: 11;
        }

        @include media-breakpoint-down(xs) {
          grid-column-end: 10;
        }
      }

      &-name {
        display: flex;
        align-items: flex-start;

        span {
          position: relative;
          top: rem(-4);
          margin-left: rem(20);
        }
      }
    }

    &-item {
      &-wrapper {
        grid-column-start: 3;
        grid-column-end: 8;

        @include media-breakpoint-down(md) {
          grid-column-start: 1;
          grid-column-end: 11;
        }

        @include media-breakpoint-down(xs) {
          grid-column-end: 10;
        }
      }
    }
  }

  &-contacts {
    @include make-col-ready();
    @include make-col(4);
    @include make-col-offset(3);
    margin-top: calc(27vh - 3.5rem);

    @include media-breakpoint-down(lg) {
      @include make-col(8);
      @include make-col-offset(1);
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 100% !important;
      max-width: 100% !important;
      margin-left: 0 !important;
    }

    &__wrapper {
      @extend .search__wrapper;

      &.is-active {
        @extend .search__wrapper.is-active;
      }

      .modal-close {
        position: absolute;
        top: 0;
        right: 0;

        @include media-breakpoint-down(lg) {
          right: rem(20);
        }
      }

      .h2 {
        margin-bottom: rem(6);
      }
    }

    &__body {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: rem(24) rem(10);
      margin-top: rem(107);

      @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr 2fr;
      }
    }

    &__input {
      padding-bottom: rem(16);
      background-color: transparent;
      border-bottom: 1px solid #000;
    }

    &__controls {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(24) rem(10);
      padding-top: rem(30);

      @include media-breakpoint-down(sm) {
        padding-top: rem(10);
        grid-template-columns: 1fr;
      }

      input {
        grid-column-start: 2;
        grid-column-end: 2;
        justify-content: flex-start;
        background-color: transparent;
        margin-bottom: 0;
        padding-left: rem(8);

        @include media-breakpoint-down(sm) {
          grid-column-start: 1;
          grid-column-end: unset;
          padding-left: unset;
          justify-content: center;
        }
      }

      button {
        grid-column-start: 3;
        grid-column-end: 5;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
          grid-column-start: 1;
          grid-column-end: unset;
        }
      }
    }
  }
}
