extends ../layout/main

block variables
  - var title = 'Justform';
  - var description = '';
  - var pageClass = 'cart-page';

block content
  section.cart__banner
    +header(false, false, false)
    +wrapper('cart')
      .cart__info-wrapper
        h1.cart__title.h1
          | Корзина
          span.text-breadcrumbs 3
      p.cart__info-breadcrumbs.text-breadcrumbs Кресла 3 — Кровати 1
  .cart__module
    +wrapper('cart')
      main.cart__items
        .cart__items-wrapper
          .cart__items-category-wrapper
            h2.cart__items-category-name.h2
              | Кресла
              span.text-breadcrumbs 2
          .cart__items-item-wrapper
            +itemCart('Rivera Armchair', 'Minotti', './assets/img/cart__1.jpg', [
              {
                name: 'Количество:',
                items: 'count',
                items: [
                  {
                    value: 'Выбрать...',
                    checked: true,
                    disabled: true
                  },
                  {
                    value: 1,
                    checked: false
                  },
                  {
                    value: 2,
                    checked: false
                  },
                  {
                    value: 3,
                    checked: false
                  },
                  {
                    value: 4,
                    checked: false
                  },
                  {
                    value: 5,
                    checked: false
                  },
                  {
                    value: 6,
                    checked: false
                  },
                ]
              },
              {
                name: 'Обивка:',
                items: 'material',
                items: [
                  {
                    value: 'Выбрать...',
                    checked: true,
                    disabled: true
                  },
                  {
                    value: 'Ткань',
                    checked: false
                  },
                  {
                    value: 'Кожа',
                    checked: false
                  },
                ]
              }
            ])
            +itemCart('Aston Dinning with arms', 'Minotti', './assets/img/cart__2.jpg', [
              {
                name: 'Количество:',
                items: 'count',
                items: [
                  {
                    value: 'Выбрать...',
                    checked: true,
                    disabled: true
                  },
                  {
                    value: 1,
                    checked: false
                  },
                  {
                    value: 2,
                    checked: false
                  },
                  {
                    value: 3,
                    checked: false
                  },
                  {
                    value: 4,
                    checked: false
                  },
                  {
                    value: 5,
                    checked: false
                  },
                  {
                    value: 6,
                    checked: false
                  },
                ]
              },
            ])
              .filter-simple-wrapper
                span.filter-simple-header.text-filter-links Комментарий
                .filter-simple
                  input(type="text", placeholder="Написать...", onfocus="this.placeholder=''", onblur="this.placeholder='Написать...'")
        .cart__items-wrapper
          .cart__items-category-wrapper
            h2.cart__items-category-name.h2
              | Кровати
              span.text-breadcrumbs 1
          .cart__items-item-wrapper
            +itemCart('Bartlett Bed', 'Minotti', './assets/img/cart__3.jpg', [
              {
                name: 'Количество:',
                items: 'count',
                items: [
                  {
                    value: 'Выбрать...',
                    checked: true,
                    disabled: true
                  },
                  {
                    value: 1,
                    checked: false
                  },
                  {
                    value: 2,
                    checked: false
                  },
                  {
                    value: 3,
                    checked: false
                  },
                  {
                    value: 4,
                    checked: false
                  },
                  {
                    value: 5,
                    checked: false
                  },
                  {
                    value: 6,
                    checked: false
                  },
                ]
              },
              {
                name: 'Обивка:',
                items: 'material',
                items: [
                  {
                    value: 'Выбрать...',
                    checked: true,
                    disabled: true
                  },
                  {
                    value: 'Ткань',
                    checked: false
                  },
                  {
                    value: 'Кожа',
                    checked: false
                  },
                  {
                    value: 'Алькантара',
                    checked: false
                  },
                  {
                    value: 'Сетка',
                    checked: false
                  },
                ]
              }
            ])
              +filterSimple('Размер, см :', 'size', [
                {
                  value: 'Выбрать...',
                  checked: true,
                  disabled: true
                },
                {
                  value: '10 cм',
                  checked: false
                },
                {
                  value: '20 cм',
                  checked: false
                },
              ])
              +filterSimpleCheckboxes('Основание с подъемным механизмом :', 'mechanism', [
                {
                  value: 'Да',
                  checked: false
                },
                {
                  value: 'Нет',
                  checked: false
                },
              ])
              +filterSimpleCheckboxes('Указать размер матраса :', 'msize', [
                {
                  value: 'Да',
                  checked: false
                },
                {
                  value: 'Нет',
                  checked: false
                },
              ])
              .filter-simple-wrapper
                span.filter-simple-header.text-filter-links Комментарий
                .filter-simple
                  input(type="text", placeholder="Написать...", onfocus="this.placeholder=''", onblur="this.placeholder='Написать...'")
      aside.cart__info
        .cart__info-header-wrapper
          p.cart__info-header.text-filter-links Корзина
          p.cart__info-counter.text-breadcrumbs x
            span 9
        .cart__info-body
          .cart__info-item
            span.text-breadcrumbs Rivera Armchair
            span.text-breadcrumbs 4
          .cart__info-item
            span.text-breadcrumbs Aston Dinning with arms
            span.text-breadcrumbs 4
          .cart__info-item
            span.text-breadcrumbs Bartlett Bed
            span.text-breadcrumbs 1
        +buttonPrimary('#', 'Узнать цену')
        +buttonSecondary('#', 'Очистить')
