extends ../layout/main

block variables
  - var title = 'Justform';
  - var description = '';
  - var pageClass = 'cart-page';

block content
  section.cart__banner
    +header(false, false, false)
    +wrapper('cart')
      .cart__info-wrapper
        h1.cart__title.h1
          | Корзина
          span.text-breadcrumbs 3
      p.cart__info-breadcrumbs.text-breadcrumbs Кресла 3 — Кровати 1
  .cart__module
    +wrapper('cart')
      main.cart__items
        .cart__items-wrapper
          .cart__items-category-wrapper
            h2.cart__items-category-name.h2
              | Кресла
              span.text-breadcrumbs 2
          .cart__items-item-wrapper
            +itemCart('Rivera Armchair', 'Minotti', './assets/img/cart__1.jpg', [
              {
                name: 'Количество:',
                items: 'count',
                items: [
                  {
                    value: 1,
                    checked: false
                  },
                  {
                    value: 2,
                    checked: false
                  },
                  {
                    value: 3,
                    checked: true
                  },
                  {
                    value: 4,
                    checked: false
                  },
                  {
                    value: 5,
                    checked: false
                  },
                  {
                    value: 6,
                    checked: false
                  },
                ]
              },
              {
                name: 'Обивка:',
                items: 'material',
                items: [
                  {
                    value: 'Ткань',
                    checked: false
                  },
                  {
                    value: 'Кожа',
                    checked: true
                  },
                ]
              }

            ])
              form.filter-simple-wrapper
                span.filter-simple-header.text-filter-links Комментарий
                .filter-simple
                  input(type="text", placeholder="Написать...", onfocus="this.placeholder=''", onblur="this.placeholder='Написать...'")
      aside.cart__info
