extends ../layout/main

block variables
  - var title = 'Justform';
  - var description = '';
  - var pageClass = 'catalog-page';

block content
  include ../components/banner/banner
  include ../modules/catalog/catalog
