extends ../layout/main

block variables
  - var title = 'Justform';
  - var description = '';
  - var pageClass = 'catalog-page';

block content
  include ../components/banner/banner
  include ../modules/catalog/catalog
  section.catalog__section
    +wrapper('catalog')
      h2.catalog__header.h2 Итальянские кровати
      .catalog__block
        p.index__text.text-regular
          | Именно этой цитатой можно охарактеризовать итальянских производителей мебели.
          br
          | Не больше и не меньше: только лучшее сырье и материалы, высокопрофессиональные мастера и современные технологии позволяют итальянским брендам оставаться на высоте среди других мировых торговых марок.
        p.index__text.text-regular
          | Мебель с Апеннинского полуострова занимает ведущие позиции на внешнем рынке уже несколько столетий подряд. Италия — это страна, где ценятся семейные традиции не только в отношениях,
          br
          | но и в деле. Поэтому большинство старинных брендов являются семейным бизнесом, который передается из поколения в поколение, а продукция с каждым годом становится только лучше.
        p.index__text.text-regular
          | Конкуренция в сфере производства мебели в Италии всегда была высокой, поэтому каждый мастер старался угодить всем своим клиентам: работа делалась на совесть и с индивидуальным подходом.
