@import 'src/scss/utils/utils';
@import 'src/views/components/banner/banner';
@import 'src/views/modules/catalog/catalog';

.catalog {
  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths($max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints);
  }

  &__row {
    @include make-row();
  }

  &__section {
    padding: rem(112) 0 rem(116);
    background-color: #f8f8f8;
    border-top: 1px solid #e2e2e2;
  }

  &__header {
    @include make-col-ready();
    @include make-col(8);
    @include make-col-offset(1);
    margin-bottom: rem(109);

    @include media-breakpoint-down(lg) {
      @include make-col-offset(0);
      @include make-col(10);
      margin-bottom: rem(24);
    }
  }

  &__block {
    @include make-col-ready();
    @include make-col(5);
    @include make-col-offset(4);

    @include media-breakpoint-down(lg) {
      @include make-col-offset(0);
      @include make-col(10);
    }
  }

  &__img {
    display: block;
    width: 100%;
    margin-bottom: rem(21);

    img {
      display: block;
      width: 100%;
      max-height: 100%;
    }
  }

  &__info {
    &-block {
      width: 100%;
      margin-bottom: 70px;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #d8d8d8;

      span {
        font-size: 0.875rem;

        &:last-child {
          color: #000;
        }
      }
    }
  }

  &__address {
    &-wrapper {
      margin-top: rem(25);
      margin-bottom: rem(25);

      p {
        line-height: 1.125rem;

        &:last-child {
          color: #000;
        }
      }
    }
  }

  &__socials {
    &-wrapper {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-down(lg) {
        margin-bottom: rem(20);
      }

      a {

        color: #000 !important;

        &:hover {
          cursor: pointer;
          color: #000 !important;
        }
      }
    }
  }

  &__fabrika {
    &-name {
      margin-bottom: rem(40);
    }

    &-list {
      position: relative;
      grid-column: 1 / -1;
      margin-bottom: -1.7rem;

      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
      }
    }
  }

  &__main {
    &_fabrika {
      @include make-col-ready();
      @include make-col(8);

      @include media-breakpoint-down(lg) {
        @include make-col(10);
      }

      .catalog__list {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding: 0;
      }

      .pagination__wrapper {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
