extends ../layout/main

block variables
  - var title = 'Justform';
  - var description = '';
  - var pageClass = 'fabriki-page';

block content
  +header(false, true, false)
  section.fabriki__section
    +wrapper('fabriki')
      .fabriki__inner
        .fabriki__grid
          h2.fabriki__header.h2
            |Итальянские мебельные
            br
            |фабрики
          .fabriki__img-block
            +pic('fabriki__img', './assets/img/factory.jpg')
            p.text-filter-links.medium Arte di Murano
          .fabriki__block
            p.text-filter-links.medium A
            .fabriki__block_inner
              a.fabriki-link.text-filter(href="#") ABC ITALIA
              a.fabriki-link.text-filter(href="#") Abstracta
              a.fabriki-link.text-filter(href="#") Acerbis
              a.fabriki-link.text-filter(href="#") ACTIU
              a.fabriki-link.text-filter(href="#") Adele-C
              a.fabriki-link.text-filter(href="#") Adentro
              a.fabriki-link.text-filter(href="#") ADORA
              a.fabriki-link.text-filter(href="#") Adrenalina
              a.fabriki-link.text-filter(href="#") Agresti
              a.fabriki-link.text-filter(href="#") ALBED
              a.fabriki-link.text-filter(href="#") Alberta Salotti
              a.fabriki-link.text-filter(href="#") Alchymia
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
          .fabriki__block
            p.text-filter-links.medium B
            .fabriki__block_inner
              a.fabriki-link.text-filter(href="#") ABC ITALIA
              a.fabriki-link.text-filter(href="#") Abstracta
              a.fabriki-link.text-filter(href="#") Acerbis
              a.fabriki-link.text-filter(href="#") ACTIU
              a.fabriki-link.text-filter(href="#") Adele-C
              a.fabriki-link.text-filter(href="#") Adentro
              a.fabriki-link.text-filter(href="#") ADORA
              a.fabriki-link.text-filter(href="#") Adrenalina
              a.fabriki-link.text-filter(href="#") Agresti
              a.fabriki-link.text-filter(href="#") ALBED
              a.fabriki-link.text-filter(href="#") Alberta Salotti
              a.fabriki-link.text-filter(href="#") Alchymia
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
