.model {
  &-page {
    position: relative;
    background-color: #f8f8f8;

    .footer {
      border-top: none;
    }
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );
  }

  &__row {
    @include make-row();
  }

  &__section {
    position: relative;
    padding-top: rem(21);
  }

  &__info {
    @include make-col-ready();
    @include make-col(3);

    &-vendor {
      font-size: rem(14);
    }

    &-details {
      margin-top: rem(150);
      margin-bottom: rem(30);

      &_name,
      &_descr {
        font-size: rem(14);
      }

      &_descr {
        color: $black;
      }
    }

    &-row {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #d8d8d8;
    }

    .button {
      &-secondary {
        margin-bottom: rem(80);
      }
    }
  }

  &__sizing {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: rem(12) 0;
    border-bottom: 1px solid #e1e1e1;

    &:last-child {
      border-bottom: none;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
    }

    &-name,
    &-size {
      color: $black;
    }

    &-artnum,
    &-name,
    &-size {
      font-size: rem(14);
    }
  }

  &__images {
    @include make-col-ready();
    @include make-col(7);

    display: flex;
    flex-direction: column;
  }

  &__similar {
    padding: rem(70) 0;
    background-color: #f0f0f0;

    &-info {
      @include make-col-ready();
      @include make-col(10);

      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: rem(60);
    }
  }

  &__grid {
    @include make-col-ready();
    @include make-col(10);

    @extend .index__grid;
    padding-top: 0;
  }
}
