extends ../layout/main

block variables
  - var title = 'Justform';
  - var description = '';
  - var pageClass = 'sotrydnich-page';

block content
  +banner(' ', ' ', 'Сотрудничество', 'Just Form — Сотрудничество', './assets/img/sotr.jpg')
  section.sotrydnich__section
    +wrapper('sotrydnich')
      .sotrydnich__inner
        h2.h2
          |Just Form предлагает
          br
          |сотрудничество и партнёрство
          br
          |на выгодных условиях
      .sotrydnich__grid
        .sotrydnich__block
          p.text-regular.medium Информационная поддержка
          p.text-regular Наши менеджеры в любое время ответят на все интересующие вас вопросы и будут держать в курсе всех новинок ассортимента фабрик.
        .sotrydnich__block
          p.text-regular.medium Лучшие цены
          p.text-regular Cпециальные цены для партнёров.
        .sotrydnich__block
          p.text-regular.medium Система бонусов
          p.text-regular Накопительная система бонусов, дающих дополнительные привилегии нашим партнёрам и клиентам.
        .sotrydnich__block
          p.text-regular.medium Быстрая доставка
          p.text-regular Развитая система доставки из Италии и работа только с крупными и проверенными транспортными компаниями позволяет нам оперативно доставлять заказы.
  section.sotrydnich__item-block
    +wrapper('sotrydnich')
      .sotrydnich__item-wrapper
        .sotrydnich__item-inner
          .sotrydnich__item
            +pic('sotrydnich__item-img', './assets/img/accs.jpg')
            .sotrydnich__item-descr
              h2.h2 Новоселам
              p.text-regular Новоселам мы предлагаем С открытием нового магазина Molteni & C Flagship в Будапеште в партнёрстве с Solinfo, группа Molteni продолжает стратегически строить свою дистрибьюторскую сеть на европейском рынке.
          .sotrydnich__item
            +pic('sotrydnich__item-img', './assets/img/accs.jpg')
            .sotrydnich__item-descr
              h2.h2 Кафе и ресторанам
              p.text-regular Новоселам мы предлагаем С открытием нового магазина Molteni & C Flagship в Будапеште в партнёрстве с Solinfo, группа Molteni продолжает стратегически строить свою дистрибьюторскую сеть на европейском рынке.
          .sotrydnich__item
            +pic('sotrydnich__item-img', './assets/img/accs.jpg')
            .sotrydnich__item-descr
              h2.h2 Дизайнерам и архитекторам
              p.text-regular Новоселам мы предлагаем С открытием нового магазина Molteni & C Flagship в Будапеште в партнёрстве с Solinfo, группа Molteni продолжает стратегически строить свою дистрибьюторскую сеть на европейском рынке.
  section.sotrydnich__links
    +wrapper('sotrydnich')
      .sotrydnich__links-grid
        .sotrydnich__links-item
          p.text-regular Прямые поставки из Европы
        .sotrydnich__links-item
          p.text-regular Эксклюзивная дизайнерская мебель
        .sotrydnich__links-item
          p.text-regular Индивидуальный менеджер
        .sotrydnich__links-item
          p.text-regular Доставка по России и Европе
        .sotrydnich__links-item
          p.text-regular Вознаграждение дизайнерам и архитекторам
        .sotrydnich__links-item
          p.text-regular Помощь в визуализации проекта
        .sotrydnich__links-item
          p.text-regular Доступ к каталогам фабрик
        .sotrydnich__links-item
          p.text-regular Поставки без посредников
  section.fabriki__section
    +wrapper('fabriki')
      .fabriki__inner
        .fabriki__grid
          .fabriki__heading
            h2.fabriki__header.h2
              |Итальянские мебельные
              br
              |фабрики
            p.text-regular
              |Мы сотрудничаем только с лучшими меельными фабриками Европы
              br
              |и являемся эсклюзивным представителем многих из них
          .fabriki__img-block
            +pic('fabriki__img', './assets/img/factory.jpg')
            p.text-filter-links.medium Arte di Murano
          .fabriki__block
            .fabriki__block_inner
              a.fabriki-link.text-filter(href="#") ABC ITALIA
              a.fabriki-link.text-filter(href="#") Abstracta
              a.fabriki-link.text-filter(href="#") Acerbis
              a.fabriki-link.text-filter(href="#") ACTIU
              a.fabriki-link.text-filter(href="#") Adele-C
              a.fabriki-link.text-filter(href="#") Adentro
              a.fabriki-link.text-filter(href="#") ADORA
              a.fabriki-link.text-filter(href="#") Adrenalina
              a.fabriki-link.text-filter(href="#") Agresti
              a.fabriki-link.text-filter(href="#") ALBED
              a.fabriki-link.text-filter(href="#") Alberta Salotti
              a.fabriki-link.text-filter(href="#") Alchymia
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") ABC ITALIA
              a.fabriki-link.text-filter(href="#") Abstracta
              a.fabriki-link.text-filter(href="#") Acerbis
              a.fabriki-link.text-filter(href="#") ACTIU
              a.fabriki-link.text-filter(href="#") Adele-C
              a.fabriki-link.text-filter(href="#") Adentro
              a.fabriki-link.text-filter(href="#") ADORA
              a.fabriki-link.text-filter(href="#") Adrenalina
              a.fabriki-link.text-filter(href="#") Agresti
              a.fabriki-link.text-filter(href="#") ALBED
              a.fabriki-link.text-filter(href="#") Alberta Salotti
              a.fabriki-link.text-filter(href="#") Alchymia
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
              a.fabriki-link.text-filter(href="#") Alias
            a.text-links.medium(href="#") Показать все…
  section.sotrydnich
    +wrapper('sotrydnich')
      .zakaz__inner
        .zakaz__grid
          h2.zakaz__header.h2
            | Как с нами работать
          .zakaz__block
            h3.text-filter-links 1. Отправить заявку
          .zakaz__block
            h3.text-filter-links 2. Получить приглашение на персональную конслуьтацию
          .zakaz__block
            h3.text-filter-links 3. Заключить соглашение о сотрудничестве
          .zakaz__block
            h3.text-filter-links 4. Оформить заказ в нашем салоне
          .zakaz__block
            h3.text-filter-links 5. Получить бонус
          .zakaz__block
            h3.text-filter-links 6. Разместить фото готового проекта на сайте
  section.sotrydnich__section
    +wrapper('sotrydnich')
      .sotrydnich__inner
        h2.h2
          |Just Form предлагает
          br
          |сотрудничество и партнёрство
          br
          |на выгодных условиях
      .sotrydnich__grid
        .sotrydnich__block
          p.text-regular.medium Страховка заказов
          p.text-regular Все заказы застрахованы, так что вы и ваши клиенты никогда не потеряют свои средства.
        .sotrydnich__block
          p.text-regular.medium Каталоги фабрик
          p.text-regular Более 2000 каталогов и отделок от ведущих производителей.
        .sotrydnich__block
          p.text-regular.medium Сотрудничество с нами
          p.text-regular Если вы талантливый дизайнер или архитектор, оптовый или розничный покупатель, то мы всегда готовы к взаимному развитию. Мы индивидуально подходим к сотрудничеству с каждым партнёром и предлагаем специальную систему скидок и накопительных бонусов.
  section.sotrydnich
    +wrapper('sotrydnich')
      .zakaz__inner
        .zakaz__grid
          h2.zakaz__header.h2
            | Станьте нашим партнером
            p.text-breadcrumbs * Обязательные поля
          .zakaz__block
            form.sotrydnich__form(action="#")
              .cart-contacts__body
                label.text-filter(for="name")
                  |Имя* :
                input.cart-contacts__input.text-regular(type="text" id="name" name="name" required)

                label.text-filter(for="phone")
                  |Телефон* :
                input.cart-contacts__input.text-regular(type="text" id="phone" name="phone" required)

                label.text-filter(for="mail")
                  |E-mail* :
                input.cart-contacts__input.text-regular(type="mail" id="mail" name="mail" required)

                label.text-filter(for="portfolio")
                  |Ссылка
                  br
                  |на портфолио* :
                input.cart-contacts__input.text-regular(type="text" id="portfolio" name="portfolio")

                label.text-filter(for="comment")
                  |Комментарий :
                input.cart-contacts__input.text-regular(type="text" id="comment" name="comment")
              .cart-contacts__controls
                input.button.text-breadcrumbs(type="reset", value="Отменить")
                button.button.button-primary(type="submit") Отправить

block footer
  footer.footer
    +wrapper('footer')
      .footer__block
        h2.h2
          |Заходите в гости.
          br
          |Мы всегда Вам рады
        a.text-links.footer-hide-mobile(href="mailto:hello@justform.ru") hello@justform.ru
      .footer__block.no-offset
        p.text-regular 115114, Москва, Дербеневская наб. 7 с14
        a.text-regular(href="tel:+74955328686") +7 495 532—86—86
      .footer__map.footer__img
        +pic('', './assets/img/footer__img.jpg')
      .footer__block.no-offset.footer-show-mobile
        a.text-links(href="mailto:hello@justform.ru") hello@justform.ru
