@import 'src/scss/utils/utils';
@import 'src/views/components/banner/banner';
@import 'src/views/modules/footer/footer';
@import './fabriki';
@import './zakaz';
@import './cart';

.sotrydnich {
  padding: rem(100) 0;
  background-color: #efeded;

  @include media-breakpoint-down(md) {
    padding: rem(30) 0;
  }

  &-page {
    background-color: #f8f8f8;

    .banner {
      &__title {
        font-size: rem(48);

        @include media-breakpoint-down(lg) {
          font-size: rem(32);
          margin-bottom: rem(8);
          text-align: center;
        }
      }

      &__info {
        &-breadcrumbs {
          margin-top: rem(10);
          max-width: 80%;
          text-align: center;
        }
      }
    }

    .fabriki {
      &__section {
        padding: rem(100) 0;
        border-top: 1px solid #e2e2e2;

        @include media-breakpoint-down(md) {
          padding: rem(30) 0;
        }
      }

      &__inner {
        padding-bottom: 0;
      }

      &__heading {
        grid-column: 1 / 6;

        @include media-breakpoint-down(sm) {
          grid-column: 1 / -1;
        }

        .h2 {
          margin-bottom: rem(26);
        }
      }

      &__block {
        .medium {
          display: block;
          margin-top: rem(40);
        }
      }

      &__img-block {
        @include media-breakpoint-down(sm) {
          grid-column: 1 / -1;
        }
      }
    }

    .zakaz {
      &__grid {
        gap: rem(30) rem(40);
      }

      &__inner {
        padding-bottom: 0;
      }

      &__header {
        margin-bottom: rem(112 - 30);

        @include media-breakpoint-down(sm) {
          margin-bottom: rem(20);
        }
      }

      &__block {
        .text-filter-links {
          margin-bottom: 0;
        }
      }
    }
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );
  }

  &__row {
    @include make-row();
    height: 100%;
  }

  &__section {
    padding: rem(64) 0 rem(130);

    @include media-breakpoint-down(md) {
      padding: rem(30) 0 rem(40);
    }
  }

  &__inner {
    @include make-col-ready();
    @include make-col(9);
    @include make-col-offset(1);

    @include media-breakpoint-down(lg) {
      @include make-col(10);
      @include make-col-offset(0);
    }
  }

  &__grid {
    @include make-col-ready();
    @include make-col(7);
    @include make-col-offset(2);
    margin-top: 98px;
    margin-bottom: rem(30);

    display: grid;
    grid-template-columns: minmax((368/912) * 100%, 3fr) 1fr minmax((368/912) * 100%, 3fr);
    gap: rem(62) rem(40);

    @include media-breakpoint-down(lg) {
      @include make-col(10);
      @include make-col-offset(0);
      margin-top: rem(20);

      gap: rem(20);
    }

    &-densed {
      margin-top: rem(20);
      margin-bottom: rem(20);
      gap: 0 rem(40);

      @include media-breakpoint-down(lg) {
        gap: 0;
      }

      .text-regular {
        color: #000;
        margin-bottom: rem(8);
      }
    }
  }

  &__block {
    grid-column: 1;

    &-fluid {
      grid-column: 1/-1;
    }

    @include media-breakpoint-down(sm) {
      grid-column: 1 / -1;
    }

    &:nth-child(2n) {
      grid-column: 3;

      @include media-breakpoint-down(sm) {
        grid-column: 1 / -1;
      }
    }

    .medium {
      color: #000;
      margin-bottom: 26px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: minmax((232/1050) * 100%, 2fr) minmax(
        ((1050 - 232 - 30)/1050) * 100%,
        6fr
      );
    gap: rem(40);
    grid-column: 2 / -1;
    padding: rem(30) 0;
    border-bottom: 1px solid #e2e2e2;

    &:last-child {
      border: none;
    }

    @include media-breakpoint-down(lg) {
      grid-column: 1 / -1;
      gap: rem(20);
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }

    &-wrapper {
      @include make-col-ready();
      @include make-col(9);
      @include make-col-offset(1);

      @include media-breakpoint-down(lg) {
        @include make-col(10);
        @include make-col-offset(0);
      }
    }

    &-inner {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      gap: 0 rem(40);
      border-top: 2px solid #e2e2e2;
      border-bottom: 2px solid #e2e2e2;

      @include media-breakpoint-down(lg) {
        gap: 0 rem(20);
      }
    }

    &-descr {
      .h2 {
        margin-bottom: 26px;
      }
    }
  }

  &__subheader {
    margin-top: rem(16);
    color: #000;
  }

  &__links {
    padding: rem(100) 0;

    @include media-breakpoint-down(md) {
      padding: rem(30) 0;
    }

    &-grid {
      @include make-col-ready();
      @include make-col(9);
      @include make-col-offset(1);

      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-auto-rows: 200px;
      gap: rem(40);

      @include media-breakpoint-down(lg) {
        @include make-col(10);
        @include make-col-offset(0);

        gap: rem(20);
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(8, 1fr);
      }
    }

    &-item {
      padding: rem(20);
      background-color: #959191;
      grid-column: span 2;

      @include media-breakpoint-down(md) {
        padding: rem(10);
        grid-column: span 4;
      }

      @include media-breakpoint-down(xs) {
        grid-column: 1 / -1;
      }

      &:first-child,
      &:last-child {
        grid-column: span 3;

        @include media-breakpoint-down(md) {
          grid-column: span 4;
        }

        @include media-breakpoint-down(xs) {
          grid-column: 1 / -1;
        }
      }

      .text-regular {
        color: #fff;

        @include media-breakpoint-down(md) {
          font-size: rem(14);
        }
      }
    }
  }

  &__form {
    .cart-contacts {
      &__body {
        margin-top: 0;

        @include media-breakpoint-down(sm) {
          grid-template-columns: 1fr;

          .text-filter {
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}
