extends ../layout/main

block variables
  - var title = 'Justform';
  - var description = '';
  - var pageClass = 'zakaz-page';

block content
  +header(false, true, false)
  section.zakaz__section
    +wrapper('zakaz')
      .zakaz__inner
        .zakaz__grid
          h2.zakaz__header.h2
            |Заказ и доставка
            br
            |итальянской мебели
          .zakaz__block
            p.text-regular
              |Just Form имеет прямые контракты с итальянскими и другими европейскими
              |и американскими фабриками, поэтому мы можем гарантировать минимальные цены
              |на продукцию и обеспечить высочайший уровень сервиса, включающий доставку
              |и профессиональный монтаж.
          h2.zakaz__header.h2
            |Порядок заказа
            br
            |и доставки:
          .zakaz__block
            h3.text-filter-links 1. Оформление заказа
            p.text-regular
              |Чтобы заказать мебель из Италии или другой страны, вы можете воспользоваться формой запроса на нашем сайте, позвонить по телефону или посетить наш шоу-рум. Наши специалисты с удовольствием проконсультируют вас по моделям, материалам, отделке, цветовой гамме и ответят на все интересующие вопросы.
          .zakaz__block
            h3.text-filter-links 2. Договор
            p.text-regular
              |После того, как вы сделали выбор, заключается договор, где прописаны все особенности товара, его доставка и гарантии. При подписании документов вносится предоплата в размере 70% от стоимости заказа.
          .zakaz__block
            h3.text-filter-links 3. Изготовление
            p.text-regular
              |Далее начинается процесс производства. Как правило, итальянские фабрики заканчивают проект не позднее 60 дней после получения заявки. Стоит обратить внимание, что в январе и августе процесс производства на большинстве фабрик приостанавливается из-за каникул.
          .zakaz__block
            h3.text-filter-links 4. Доставка
            p.text-regular
              |Когда продукция изготовлена, она проверяется на отсутствие браков, тщательно упаковывается и отправляется в Москву. Весь товар застрахован и будет доставлен через 2-3 недели на наш склад.
          .zakaz__block
            h3.text-filter-links 5. Получение заказа
            p.text-regular
              |После доставки заказа в нашу компанию мы оповещаем вас о его прибытии. Вносятся оставшиеся 30% оплаты и заказ по праву считается вашей собственностью.
              |По желанию, наши специалисты могут доставить товар на дом и провести профессиональный монтаж изделий.сайте, позвонить по телефону или посетить наш шоу-рум. Наши специалисты с удовольствием проконсультируют вас по моделям, материалам, отделке, цветовой гамме и ответят на все интересующие вопросы.
          .zakaz__block
            h3.text-filter-links 6. Доставка по всей России, странам СНГ и ЕС
            p.text-regular
              |Мы осуществляем доставку в регионы и другие страны с помощью транспортных компаний. Стоимость и срок рассчитываются индивидуально.
          .zakaz__block
            h3.text-filter-links 7. Гарантии и страховки
            p.text-regular
              |Ваш заказ застрахован в процессе доставки, поэтому при любом форс-мажоре вы
              |не потеряете деньги. Мы гарантирует оригинальность и 100% итальянское производство вашей мебели.
          .zakaz__block_centered
            h2.banner__title.h1 7 (495) 532—86—86
            p.text-breadcrumbs Пн - Пт    10:00 — 20:00
          .zakaz__block
            p.text-regular
              |Если у вас возникнут вопросы по формированию заказа или доставке, позвоните нам
              |и наши менеджеры с удовольствием ответят на них.
