section.banner
  +header(false, false, true)
  +pic('banner__backgorund', './assets/img/banner-bg.jpg')
  +wrapper('banner')
    .banner__info-wrapper
      a(href="#").banner__link.text-regular Кресла
      h1.banner__title.h1 Кровати
      a(href="#").banner__link.text-regular Кухни
    p.banner__info-breadcrumbs.text-breadcrumbs Just Form — Каталог мебели — Категории — Кровати
