.search {
  @include make-col-ready();
  @include make-col-offset(1);
  @include make-col(8);

  @include media-breakpoint-down(lg) {
    @include make-col(10);
    @include make-col-offset(0);
  }

  &__wrapper {
    position: fixed;
    top: 0;
    right: -10000px;
    width: 100vw;
    height: 100vh;
    padding: rem(56) 0 rem(112);
    background-color: #e2e2e2;
    z-index: 910;
    // transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease;
    overflow: auto;
    opacity: 0;

    &.is-active {
      // transform: scaleX(1);
      left: 0;
      right: 0;
      opacity: 1;
    }
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );
  }

  &__row {
    @include make-row();
  }

  &__input {
    width: 100%;
    padding-bottom: rem(12);
    background-color: transparent;
    border-bottom: 1px solid $gray;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  &__reset {
    position: absolute;
    right: $gutter;
    bottom: rem(12);
  }

  &__results {
    @include make-col-offset(1);
    @include make-col-ready();
    @include make-col(8);

    padding-top: rem(112);

    @include media-breakpoint-down(lg) {
      @include make-col(10);
      @include make-col-offset(0);
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: rem(40);
      margin-bottom: rem(112);

      @include media-breakpoint-down(lg) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &-header {
      display: flex;
      align-items: flex-start;
      margin-bottom: rem(32);

      span {
        position: relative;
        bottom: rem(9);
        margin-left: $gutter;
        @extend .text-breadcrumbs;
      }
    }

    &-not-found {
      color: $black;
      font-weight: normal;
      letter-spacing: -0.22px;
    }
  }

  &-close {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-left: auto;
    margin-right: 0;
    margin-top: rem(12);

    @include media-breakpoint-down(lg) {
      position: absolute;
      top: 30px;
      right: 20px;
    }
  }
}
