@import '../../pages/model';

.model {
  &__images {
    @include make-col-ready();
    @include make-col(7);

    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(lg) {
      @include make-col(10);
      flex-direction: row;
      overflow-x: auto;
    }
  }

  &__img {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: rem(20);
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      width: 100%;
      flex: 1 0 100%;
      margin-right: rem(5);
      padding: 0 rem(10);

      &:last-child {
        margin-right: 0;
      }

      img {
        object-fit: contain;
      }
    }
  }

  &__filter {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(24px);
    opacity: 0.3;
    z-index: -1;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: -10000px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e2e2e2;
    z-index: 909;
    transform-origin: right center;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease;
    overflow: hidden;
    opacity: 0;

    &.is-active {
      left: 0;
      right: 0;
      opacity: 1;
    }

    &-close {
      @extend .search-close;
      position: absolute;
      top: rem(70);
      right: rem(30);
    }
  }

  &__slider {
    &-wrapper {
      @include make-col-ready();
      @include make-col(8);
      @include make-col-offset(1);
    }
  }
}
