aside.model__images
  +pic('model__img', './assets/img/model_1.jpg')
  +pic('model__img', './assets/img/model_2.jpg')
  +pic('model__img', './assets/img/model_3.jpg')
  +pic('model__img', './assets/img/model_4.jpg')
  +pic('model__img', './assets/img/model_5.jpg')
  +pic('model__img', './assets/img/model_6.jpg')
.model__overlay
  +wrapper('model')
    button.model__overlay-close
      +icon('', 'close')
    include ../../components/slider/sliderModel
