@import 'src/scss/utils/utils';

.itemLink {
  .item {
    &__name {
      &:hover {
        text-decoration: none;
      }
    }

    &__submenu {
      display: flex;
      flex-direction: column;
      margin-top: rem(15);

      &-link {
        font-size: rem(14);
        &:hover {
          text-decoration: none;
          color: $gray;
        }
      }

      &-hidden {
        display: flex;
        flex-direction: column;
        height: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s ease;
        overflow: hidden;

        &.is-active {
          height: 100%;
          transform: scaleY(1);
        }
      }
    }
  }
}
