mixin itemCart(name, factory, image, filters)
  - name = name
  - factory = factory
  - image = image
  - filters = false || filters
  .item-cart
    .item-cart__header
      +pic('item-cart__img', image)
      .item-cart__info
        p.text-regular.item-cart__name #{ name }
        p.text-breadcrumbs.item-cart__descr #{ factory }
      button.item__cart-delete.text-breadcrumbs Удалить
    .item-cart__body
      .item-cart__filters
        each filter in filters
          +filterSimple(filter.name, filter.descr, filter.items)
        if block
         block
