.filter-wrapper
  select
    option(default, hidden) Все кровати
    option Изголовье для кровати
    option Кованные кровати
    option Кровати с балдахином
    option Кровати с мягким изголовьем
    option Круглые кровати
    option Односпальные кровати
    option Основание для кровати
