.menu-mobile {
  position: fixed;
  top: 83px;
  width: 100%;
  height: calc(100% - 83px);
  padding-top: rem(20);
  background-color: #f8f8f8;
  transition: all 0.5s ease;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 10;
  overflow: auto;

  &.is-active {
    transform: scaleY(1);
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints);
  }

  &__row {
    @include make-row();

    flex-direction: column;
    justify-content: flex-start;
    padding: 0 $gutter;
  }

  &-link {
    display: block;
    line-height: rem(42);
    border-bottom: 1px solid #e2e2e2;
  }

  // &-category {
  //   @extend .filter-wrapper;

  //   &.is-active {
  //     .menu-mobile {
  //       &-category-header {
  //         padding-bottom: rem(12);
  //         color: $gray;
  //         border-bottom-color: transparent;
  //       }

  //       &-submenu {
  //         padding-top: 0;
  //       }
  //     }
  //   }

  //   &-header {
  //     @extend .filter-header;
  //   }
  // }

  &-submenu {
    @extend .filter-menu;
    padding-left: rem(55);
    padding-top: 0 !important;

    .menu-mobile-link {
      @extend .filter-menu-item;
    }
  }
}
