@import 'utils/vars';
@import 'utils/libs';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';
@import 'utils/typography';

// components
// @import "../views/components/**/*.scss";
// modules
@import '../views/modules/header/header.scss';
@import '../views/modules/footer/footer.scss';
//pages
// @import "../views/pages/**/*.scss";

// global rules
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button {
  padding: 0;
  background-color: transparent;
}

.is-modal-open {
  overflow-y: hidden;
}

.overflow-scroll {
  width: 100%;
  margin: 0;

  @media (max-width: 991.98px) {
    overflow-x: scroll;
  }
}
