@import "utils/reset";
// @import 'utils/fonts';
@import "utils/typography";

// global rules
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button {
  padding: 0;
  background-color: transparent;
}

.is-modal-open {
  overflow-y: hidden;
}
