.pagination__wrapper
  .pagination__pages
    a.pagination-link.text-filter-links(href="#") 1
    a.pagination-link.text-filter-links(href="#") 2
    a.pagination-link.text-filter-links.is-active(href="#") 3
    a.pagination-link.text-filter-links(href="#") 4
    a.pagination-link.text-filter-links(href="#") 5
    a.pagination-link.text-filter-links(href="#")
      +icon('pagination-icon', 'pagination-next')
  .pagination__select
    p.text-regular Страница :
