.pagination__wrapper
  .pagination__pages
    a.pagination-link.text-filter-links(href="#") 1
    a.pagination-link.text-filter-links(href="#") 2
    a.pagination-link.text-filter-links.is-active(href="#") 3
    a.pagination-link.text-filter-links(href="#") 4
    a.pagination-link.text-filter-links(href="#") 5
    a.pagination-link.text-filter-links(href="#")
      +icon('pagination-icon', 'pagination-next')
  .pagination__select
    +filterSimple('Страниц:', 'page', [
      {
        value: 1,
        checked: false
      },
      {
        value: 2,
        checked: false
      },
      {
        value: 3,
        checked: false
      },
      {
        value: 4,
        checked: true
      },
      {
        value: 5,
        checked: false
      },
      {
        value: 6,
        checked: false
      },
    ])
