.catalog {
  padding: rem(60) 0 rem(116);
  background-color: #f8f8f8;

  @include media-breakpoint-down(lg) {
    padding: rem(30) 0;
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );
  }

  &__row {
    @include make-row();
  }

  &__filter {
    @include make-col-ready();
    @include make-col(2);

    @include media-breakpoint-down(lg) {
      @include make-col(10);
    }
  }

  &__list {
    @include make-col-ready();
    @include make-col(8);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;

    @include media-breakpoint-down(lg) {
      @include make-col(10);
      grid-template-columns: 1fr 1fr;
    }
  }
}
