section.catalog
  +wrapper('catalog')
    aside.catalog__filter
      form.catalog__form
        +filter(
            '',
            'Кровати',
            [
              { 'name':'Все кровати', 'value': 'Все кровати', 'default': true, 'selected': true, 'disabled': false, 'hidden': false},
              { 'name':'Изголовье для кровати', 'value': 'Изголовье для кровати', 'default': false, 'selected': false, 'disabled': false, 'hidden': false},
              { 'name':'Кованные кровати', 'value': 'Кованные кровати', 'default': false, 'selected': false, 'disabled': false, 'hidden': false, 'data_id': 6, 'data_type': 'categories'},
              { 'name':'Кровати с балдахином', 'value': 'Кровати с балдахином', 'default': false, 'selected': false, 'disabled': false, 'hidden': false},
            ]
            )
        +filter(
          '',
          'Расположение',
          [
            { 'name':'Любое', 'value': 'Любое', 'default': false, 'selected': false, 'disabled': false, 'hidden': false},
            { 'name':'Библиотека', 'value': 'Библиотека', 'default': false, 'selected': false, 'disabled': false, 'hidden': false, 'data-id': 6, 'data-type': 'places'},
            { 'name':'Гостинная', 'value': 'Гостинная', 'default': false, 'selected': false, 'disabled': false, 'hidden': false, 'data-id': 7, 'data-type': 'places'},
          ],
        true)
        +filterSearch('', 'Фабрики')
        include ../../components/filter/filterReset
    .catalog__list
      +item('Название модели','Фабрика','€ 5.000 — 10.000','./assets/img/accs.jpg', true)
      +item('Название модели','Фабрика','€ 500.000 — 10000.000','./assets/img/accs.jpg', true)
      +item('Название модели','Фабрика','€ 5.000 — 10.000','./assets/img/accs.jpg', true)
      +item('Название модели','Фабрика','€ 5.000 — 10.000','./assets/img/accs.jpg', true)
      +item('Название модели','Фабрика','€ 5.000 — 10.000','./assets/img/accs.jpg', true)
      +item('Название модели','Фабрика','€ 5.000 — 10.000','./assets/img/accs.jpg', true)
      +item('Название модели','Фабрика','€ 5.000 — 10.000','./assets/img/accs.jpg', true)
      +item('Название модели','Фабрика','€ 5.000 — 10.000','./assets/img/accs.jpg', true)
      +item('Название модели','Фабрика','€ 5.000 — 10.000','./assets/img/accs.jpg', true)
      +item('Название модели','Фабрика','€ 5.000 — 10.000','./assets/img/accs.jpg', true)
    include ../../components/pagination/pagination
