.header-main-mobile
  .container
    .row
      button.header-main-mobile-button(type='button' aria-label='Menu' aria-controls='more', data-target="more")
        span.header-main-mobile-button_inner
      +pic('header-main-mobile__logo-alt', './assets/img/logo-alt.png')
      +pic('header-main-mobile__logo', './assets/img/logo.png')
      button.header-main-mobile-search(type='button' aria-label='Search' aria-controls='search')
        +icon('', 'search')
  include ../../components/menu/menuMobile
