.header {
  position: sticky;
  top: 0;
  padding: rem(56) 0 rem(50);
  z-index: 900;

  &.is-sticky {
    background-color: #f8f8f8;
  }

  &.is-expanded {
    background-color: #f0f0f0;
  }

  &.no-cart {
    .header {
      &__category-cart,
      &__cart_wrapper {
        opacity: 0;
      }
    }
  }

  &__container {
    @include make-container($gutter: $grid-gutter-width);
    @include make-container-max-widths(
      $max-widths: $container-max-widths,
      $breakpoints: $grid-breakpoints
    );
  }

  &__row {
    @include make-row();
  }

  &__logo,
  &__cell {
    @include make-col-ready();
    @include make-col(2);
  }

  &__logo {
    padding-top: 3px;
  }

  &__cell {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__contacts {
    color: $black;

    &:hover {
      cursor: pointer;
      color: $black;
      text-decoration: none;
    }
  }

  &__cart {
    width: 21px;
    height: 17px;

    &_wrapper {
      display: flex;
      align-items: center;
      flex-direction: row;

      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }

    &_counter {
      position: relative;
      top: -10px;
      margin-left: 4px;
      line-height: rem(28);
    }
  }

  &__menu {
    &-button {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 16px;
      height: 8px;
      margin-top: rem(6);
      padding: 0;

      &:hover {
        .header__menu-button_inner {
          background-color: $gray;

          &::before {
            background-color: $gray;
          }
        }
      }

      &_inner {
        position: relative;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $black;
        transition: transform 0.5s ease;

        &::before {
          position: absolute;
          top: -6px;
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background-color: $black;
          transition: transform 0.5s ease, top 0.5s ease;
        }
      }

      &.is-active {
        .header__menu-button_inner {
          transform: rotate(45deg);

          &::before {
            top: 0;
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  &__search {
    &-button {
      display: block;
      width: 16px;
      height: 16px;
      margin-top: 3px;
      padding: 0;
    }
  }

  &__category {
    &-wrapper {
      position: relative;
      width: 100%;

      &:hover {
        color: $gray;
        text-decoration: none;
      }

      &.header__category {
        &-header {
          &::before {
            background-color: $gray;
          }
          &::after {
            background-color: $gray;
            transform: rotate(180deg);
          }
        }

        &-name {
          color: $gray;
        }

        &-menu {
          height: 100%;
          padding-top: rem(18);
          transform: scaleY(1);
        }
      }
    }

    &-header {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      padding-bottom: rem(18);
      border-bottom: 1px solid #979797;

      &::before,
      &::after {
        position: absolute;
        display: block;
        top: 12px;
        right: 0;
        width: 12px;
        height: 2px;
        background-color: $black;
        content: '';
        transition: all 0.3s ease;
      }

      &::after {
        transform: rotate(90deg);
      }

      &:hover {
        cursor: pointer;

        .header__category-name {
          color: $gray;
        }

        &::before,
        &::after {
          background-color: $gray;
        }
      }

      &-name {
        display: block;
        margin-right: rem(16);
      }
    }

    &-menu {
      &[data-parent='items'] {
        @include make-col-offset(2);
      }

      &[data-parent='positions'] {
        @include make-col-offset(4);
        margin-right: 20%;
      }

      &[data-parent='more'] {
        flex-direction: row;
      }

      &[data-parent='factory'] {
        align-items: flex-start;
        flex-direction: row;
        max-height: unset;

        &.is-active {
          margin-bottom: 0;
        }
      }

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      height: 0;
      max-height: 232px;
      transform: scaleY(0);
      transition: transform 0.5s ease, margin 0.5s ease;
      transform-origin: top;

      &.is-active {
        height: 100%;
        margin-top: rem(50);
        margin-bottom: rem(90);
        transform: scaleY(1);
      }

      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
    }

    &-link {
      display: block;
      width: 100%;
      max-width: 232px;
      margin: 0 $gutter;
      border-bottom: 1px solid #e0e0e0;
      @extend .text-filter;

      &:hover {
        cursor: pointer;
        @extend .text-filter;
        text-decoration: none;
      }
    }

    &-factory {
      @include make-col-ready();
      @include make-col(1);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      max-height: 364px;

      a {
        width: 12px;

        &.is-active {
          font-weight: 500;
          color: $black;
        }

        &:hover {
          cursor: pointer;
          color: $gray;
          text-decoration: none;
        }
      }

      &-menu {
        @include make-col(8);
        @include make-col-offset(1);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        max-height: 364px;
      }
    }

    &-row {
      display: flex;
      width: 100%;

      + .header__category-row {
        margin-bottom: rem(60);
      }

      .header__cell {
        height: rem(20);
      }
    }

    &-details {
      @include make-col-ready();
      @include make-col(4);
      @include make-col-offset(2);

      &-work {
        display: flex;

        p {
          margin-right: rem(20);
        }
      }

      &-socials {
        margin-top: rem(111);

        a {
          margin-right: rem(13);
          line-height: rem(28);
        }
      }
    }

    &-link-block {
      @include make-col-ready();
      @include make-col(2);

      .header__category-link {
        width: 100%;
        margin-left: 0;
        border-bottom: 0;
        @extend .text-filter-links;
        line-height: rem(56);
      }
    }

    &-cart {
      @include make-col-ready();
      @include make-col(2);
      padding-top: rem(19);

      &-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(16);
        @extend .text-filter-links;
        line-height: rem(19);

        span {
          line-height: unset;
        }
      }

      a {
        &:not(.button) {
          @extend .header__category-link;
          margin-left: 0;
        }
      }

      &-buttons {
        padding-top: rem(20);
      }
    }
  }
}
